<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Accueil - DK Soft</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="https://www.dksoft.tn" target="_self" rel="">
				<img src="https://www.dksoft.tn/wp-content/uploads/2020/08/logo25-06.png" alt="dksoft" height="30">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#10">Accueil</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Qui sommes nous</a></li>
					<li class="nav-item"><a class="nav-link" href="#6">Nos offres</a></li>
					<li class="nav-item"><a class="nav-link" href="#2">Nos services</a></li>
					<li class="nav-item"><a class="nav-link" href="#7">Projets et solutions</a></li>
					<li class="nav-item"><a class="nav-link" href="#3">Technologies</a></li>
					<li class="nav-item"><a class="nav-link" href="#4">Recrutement</a></li>
					<li class="nav-item"><a class="nav-link" href="#8">Nos Références</a></li>
					<li class="nav-item"><a class="nav-link" href="#5">Contacter nous</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('app_dksoft') }}" style="position:absolute">Pricing</a></li>
				</ul>
			</div>
		</div>
	</nav>

	
	<main>
		{% block body %}{% endblock %}
	</main>

	<footer>
		
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
